---
import Layout from '~/layouts/Layout.astro'
import { Content, frontmatter } from '~/content/essays.md'

const { title, description } = frontmatter
---

<Layout title={title} description={description}>
  <article class="prose">
    <h1>{title}</h1>
    <p class="opacity-50 italic">{description}</p>
    <Content />
  </article>
</Layout>
