---
import Layout from '~/layouts/Layout.astro'
import { Content, frontmatter } from '~/content/index.md'
---

<Layout>
  <article class="prose">
    <h1>{frontmatter.title}</h1>
    <Content />
  </article>
</Layout>
