---
import { getCollection } from 'astro:content'
import FormattedDate from '~/components/FormattedDate.astro'
import Layout from '~/layouts/Layout.astro'

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
)

const getYear = (a: Date | string | number) => new Date(a).getFullYear()
const isSameYear = (a: Date | string | number, b: Date | string | number) => a && b && getYear(a) === getYear(b)
---

<Layout title="Posts">
  <ul class="pt-4 pl-0">
    {
      posts.map((post, index) => (
        <>
          {!isSameYear(post.data.publishDate, posts[index - 1]?.data.publishDate) && (
            <div class="relative h-20 pointer-events-none ">
              <span class="absolute left-0 top--2rem font-bold text-8em opacity-10">
                {getYear(post.data.publishDate)}
              </span>
            </div>
          )}
          <li class="list-none">
            <a class="block mb-6 mt-2 decoration-none transition-all opacity-60 hover:opacity-100" href={`/posts/${post.slug}/`}>
              <div class="text-lg leading-1.2em">
                <span> {post.data.title}</span>
              </div>
              <FormattedDate date={post.data.publishDate} />
            </a>
          </li>
        </>
      ))
    }
  </ul>
</Layout>
