---
import ToggleTheme from './ToggleTheme.astro'
---

<footer class="flex justify-between mt-12 mb-6 opacity-50">
  <div>
    Copyright &copy; 2021-present Hongbusi
  </div>

  <div class="flex items-center space-x-2">
    <ToggleTheme />
    <a href="https://twitter.com/Hongbusi" target="_blank" title="Twitter" class="i-twitter" />
    <a href="https://github.com/Hongbusi" target="_blank" title="GitHub" class="i-github" />
  </div>
</footer>
