---
import Logo from './Logo.astro'
---

<header class="flex justify-between items-center py-8 mb-10">
  <a class="cursor-pointer inline-block w-10 h-10" href="/">
    <Logo />
  </a>

  <nav class="flex space-x-4">
    <a href="/posts" class="cursor-pointer transition-color opacity-60 hover:opacity-100">
      <span class="lt-md:hidden">Posts</span>
      <span class="i-article md:hidden" />
    </a>
    <a href="/projects" class="cursor-pointer transition-color opacity-60 hover:opacity-100">
      <span class="lt-md:hidden">Projects</span>
      <span class="i-lightbulb md:hidden" />
    </a>
    <a href="/essays" class="cursor-pointer transition-color opacity-60 hover:opacity-100">
      <span class="lt-md:hidden">Essays</span>
      <span class="i-write md:hidden" />
    </a>
  </nav>
</header>
