---
import Layout from './Layout.astro'

export interface Props {
  frontmatter: {
    title: string
    description: string
  }
}

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <article class="prose max-w-3xl">
    <h1>{frontmatter.title}</h1>
    {
      frontmatter.description && (
        <p class="opacity-50 italic">{frontmatter.description}</p>
      )
    }
    <slot />
  </article>
</Layout>
