---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '~/components/FormattedDate.astro'
import Layout from './Layout.astro'

type Props = CollectionEntry<'posts'>['data']

const { title, description, publishDate } = Astro.props
---

<Layout title={title} description={description}>
  <article class="prose max-w-3xl">
    <h1 class="title">{title}</h1>
    <FormattedDate date={publishDate} />
    <hr />
    <slot />
  </article>
</Layout>
