:root {
  --c-bg: #fafafa;
  --c-bg-card: #00000006;
  --c-text: #232323;
  --c-text-secondary: #686868;
  --c-border: #eee;
}

.dark {
  --c-bg: #111111;
  --c-bg-card: #ffffff06;
  --c-text: #f3f3f3;
  --c-text-secondary: #888;
  --c-border: #222;
}
